<table id="contactsTable" class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Company Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone 1</th>
            <th scope="col">Phone 2</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">3</th>
            <td>Oleg</td>
            <td>Sidorovich</td>
            <td>WATERBABY</td>
            <td>oleg@waterbaby.com</td>
            <td>81923459814326</td>
            <td>23698743298493</td>
            <td>1921-01-03</td>
            <td>X</td>
        </tr>
    </tbody>
</table>