<table id="accountsTable" class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Company Name</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">Zip Code</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>WATERBABY</td>
            <td>Russia</td>
            <td>Smolensk</td>
            <td>Blyat</td>
            <td>324723</td>
            <td>X</td>
        </tr>
    </tbody>
</table>